<div class="row">
<ng-container *ngFor="let cars of car; let i =index">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
         {{cars?.brand}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{cars?.model}}</h5>
          <p class="card-text"><img  class="card-img-top" src="{{path}}{{cars?.imgUrl}}" style="max-height: 200px; width: 100%;"></p>
            <p>Power: {{cars?.power}}</p>
            <p>Seats: {{cars?.seats}}</p>
        </div>
          <div class="footer">
              <button class="btn btn-outline-success btn-block">Rent</button>
          </div>
      </div>
      </div>
  <div *ngIf="(i+1) % 2 === 0" class="w-100 "></div>
</ng-container>


      </div>






